{% extends "layout.html" %}

{% block content %}

<h2>Positions</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category if category != 'error' else 'danger' }}">
                {{ message }}
                {% if auth_error %}
                    <a href="https://localhost:5055" class="alert-link">Click here to authenticate</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if positions %}
<table class="table table-striped">
    <tr>
        <th>Instrument</th>
        <th>Quantity</th>
        <th>Average Cost</th>
        <th>Current Price</th>
        <th>Current Value</th>
        <th>Profit / Loss</th>
    </tr>

    {% for item in positions %}
    <tr>
        <td>
            <strong>
                <a href="/contract/{{ item['conid'] }}/365d">{{ item['name'] }}</a>
            </strong>
            <br />
            {{ item['contractDesc'] }}<br />
            {{ item['conid'] }}
        </td>
        <td>{{ item['position'] }}</td>
        <td>${{ item['avgCost'] }}</td>
        <td>${{ item['mktPrice']|round(2) }}</td>
        <td>${{ item['mktValue'] }}</td>
        <td class="pt-4">
            <span class="alert {% if item['unrealizedPnl'] >= 0 %}alert-success{% else %}alert-danger{% endif %}">
                {{ item['unrealizedPnl'] }}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}